<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArsAeternum</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header class="header">
        <h1 class="header__title"><a href="../index.html">ArsAeternum</a></h1>
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__list--item">
                    <a href="" aria-label="Search">
                        <img class="nav__icon" src="../images/magnifying-glassIcon.svg"
                            alt="Magnifying glass icon for search">
                    </a>
                </li>
                <li class="nav__list--item">
                    <a class="list__item--basket" href="" aria-label="Shopping Cart">
                        <img class="nav__icon" src="../images/basketIcon.svg" alt="Shopping cart icon for purchases">
                        <span id="basket-number"></span>
                    </a>
                </li>
                <li class="nav__list--item">
                    <a href="" aria-label="Menu">
                        <img class="nav__icon" src="../images/menuIcon.svg" alt="Menu icon for navigation">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="mainIndex">
        <h2 class="mainIndex__title">Thank you for your order !</h2>
        <ul class="confirmation__list">
        </ul>
        <div class="user-info">
        </div>
    </main>
<script src="../js/confirmation.js"></script>
</body>

</html>