@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --mainColor: #d7d2cb;
    --secondaryColor: #151515;
}

body {
    background-color: var(--mainColor);
    margin: 25px;
    border: 1px solid var(--secondaryColor);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondaryColor);
}

.header__title {
    margin-left: 14px;
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(1.5rem, 3vw, 3rem);
}

.header__title a {
    color: black;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    height: 100%;
}

.nav__icon {
    width: 30px;
    height: 30px;
}

.nav__list--item {
    display: flex;
    align-items: flex-end;
    padding: 14px 15px;
    border-left: 1px solid var(--secondaryColor);
}

.list__item--basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondaryColor);
    padding-bottom: 4px;
}

.list__item--basket #basket-number {
    height: 0;
}

.mainIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6vh 0;
}

.main__title {
    width: 50%;
    padding: 14px;
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
}

.main__separator {
    width: 100%;
    margin: 10vh 0;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    border-top: 1px solid var(--secondaryColor);
    border-bottom: 1px solid var(--secondaryColor);
}

.separator__text {
    display: inline-block;
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.product__title {
    padding: 14px;
    border-bottom: 1px solid var(--secondaryColor);
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.3rem);
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5vh;
}

.product__list li {
    padding: 0 20px;
}

.product__list--item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 3vh;
    border: 1px solid var(--secondaryColor);
}

.product__list--item img,
.product__details img {
    width: 400px;
    height: 500px;
}

.product__list--item p,
.product__details h2 {
    font-family: "Bebas Neue", sans-serif;
    margin-top: 3px;
}

.product__list--item p {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    margin: 10px 0 5px;
}

.product__list--item a,
.product__details button,
.form button {
    margin: 10px 0 0;
    padding: 10px;
    width: 50%;
    background-color: transparent;
    border: 1px solid var(--secondaryColor);
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    color: var(--secondaryColor);
    text-align: center;
    cursor: pointer;
}

.viewsProduct__img {
    width: 500px;
    height: 600px;
}

.product__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    gap: 6px;
    border: 1px solid var(--secondaryColor);
}

.product__details p {
    margin: 5px 0;
    font-size: clamp(0.7rem, 1.5vw, 1.3rem);
}

.mainIndex__title {
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(1.5rem, 3vw, 3rem);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.total-price {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.form input {
    width: 20vw;
    height: 3vh;
    padding: 5px;
    border: 1px solid var(--secondaryColor);
    background-color: transparent;
}

.form input:focus {
    outline: none;
}

.confirmation__list {
    display: flex;
    flex-direction: column;
    margin: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.3rem);
}

.confirmation__list li {
    padding: 20px 0;
    border-bottom: 1px solid var(--secondaryColor);
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 1497px) {
    .product__list {
        justify-content: space-around;
    }
}

@media (max-width: 535px) {
    .product__list--item img,
    .product__details img {
        width: 200px;
        height: 300px;
    }

    .product__details {
        margin: 0;
        border: none;
    }

    .form input {
        width: 50vw;
    }
}
